/* style fo the main page */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #e78835;
    color: white;
    padding: 10px 0;
    text-align: center;
}
h1 {
    margin: 0;
}
h2 {
    color: #333;
}
h3 {
    color: #666;
}
h4 {
    color: #999;
}
h5 {
    color: #ccc;
}
h6 {
    color: #eee;
}
p {
    color: #333;
    line-height: 1.6;
}
